<app-titulo>
  <span TitleNegritas>Listado de pólizas generadas </span>
  <span TitleStd>Selecciona mes y año para mostrar la lista de pólizas dejadas en BPRO</span>
</app-titulo>

<div class="content-block">
  <div class="dx-card responsive-paddings" fxFlexAlign="center" id="P_AsientoContable">

  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" >
      
    <div class="dx-field">
        <div class="dx-field-value">
            <dx-select-box label="Año" [dataSource]="lstAnios"  displayExpr="anio" valueExpr="anio"  placeholder="Seleciona año" [value]="anioActual" [showClearButton]="false" (onValueChanged)="AnioSelect($event)"></dx-select-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-value">
            <dx-select-box label="mes" [dataSource]="lstMeses"  displayExpr="text" valueExpr="id"  placeholder="Seleciona mes" [value]="mesActual" [showClearButton]="false" (onValueChanged)="MesSelect($event)"></dx-select-box>
        </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-value">
        <dx-button
        stylingMode="contained"
        text="Consultar"
        type="default"
        [width]="220"
        (onClick)="Consulta()">
      </dx-button>
      </div>
  </div>
     
    </div>

    <div fxLayout="row" style="height: 65vh; width: 80vw-60px;">
      
        <dx-data-grid
          id="gridContainer"
          [dataSource]="lstPolizas"
          [showBorders]="true"
          width="100%"
        >
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
          <dxi-column type="buttons" caption="Consulta Poliza">
            <dxi-button
              hint="Cerrar Paga"
              icon="find"
              text="Cerrar paga"
              [visible]="true"
              [onClick]="ConsultaPoliza"
            ></dxi-button>
          </dxi-column>
          <dxi-column
            dataField="sucursal"
            caption="Sucursal"
            dataType="string"
            [width]="'auto'"
          ></dxi-column>
          <dxi-column
            dataField="pagadora"
            caption="Pagadora"
            dataType="string"
            [width]="'auto'"
          ></dxi-column>
          <dxi-column
            dataField="tipo"
            caption="Tipo"
            [width]="'200'"
          ></dxi-column>
          <dxi-column
            dataField="semQuin"
            caption="Número"
            [width]="'125'"
            [alignment]="'center'"
          ></dxi-column>
          <dxi-column
            dataField="fechaProceso"
            caption="Fecha de ejecución"
            dataType="string"
            [width]="'auto'"
          ></dxi-column>
          <dxi-column
            dataField="docto"
            caption="Documento"
            [width]="'auto'"
          ></dxi-column>
          <dxi-column
            dataField="DSBPEncInfoEnc"
            caption="Folio Enc"
            [width]="'auto'"
            [visible]="false"
          ></dxi-column>
          <dxi-column
            dataField="TipoPol"
            caption="TipoPol"
            [width]="'auto'"
          ></dxi-column>
          <dxi-column
            dataField="ConsPol"
            caption="ConsPol"
            [width]="'auto'"
          ></dxi-column>
          <dxi-column
            dataField="MesPol"
            caption="MesPol"
            [width]="'auto'"
          ></dxi-column>
          <dxi-column
            dataField="AñoPol"
            caption="AñoPol"
            [width]="'auto'"
          ></dxi-column>
          <!-- <dxi-column dataField="fechaProceso" caption="Fecha de ejecución" [visible]="false"></dxi-column> -->
          <!-- <dxi-column type="buttons" caption="Cerrar paga">
                <dxi-button hint="Cerrar Paga" icon="copy" text="Cerrar paga" [visible]="true" [onClick]="CerrarPaga" [visible]="CerrarPagaDisabled"></dxi-button>
            </dxi-column> -->
          <dxo-paging [pageSize]="12"></dxo-paging>
          <dxo-export [enabled]="true"></dxo-export>
        </dx-data-grid>
      </div>
  </div>
</div>

<dx-popup
  [width]="600"
  [height]="250"
  [showTitle]="true"
  title="Póliza generada en BPRO"
  [dragEnabled]="false"
  [showCloseButton]="true"
  container=".dx-viewport"
  [(visible)]="popupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="closeButtonOptions"
  >
  </dxi-toolbar-item>
  <div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div><strong>Sucursal: </strong>{{ sucursalPoliza }}</div>
      <div><strong>Estado de la póliza: </strong>{{ estadoPoliza }}</div>
    </div>

    <dx-data-grid
      id="gridContainer"
      [dataSource]="dataPolizas"
      [showBorders]="true"
      [width]="550"
    >
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
      <dxi-column
        dataField="AñoPol"
        caption="Año Póliza"
        dataType="string"
        [width]="'auto'"
        [alignment]="'center'"
      ></dxi-column>
      <dxi-column
        dataField="MesPol"
        caption="Mes Póliza"
        dataType="string"
        [width]="'auto'"
        [alignment]="'center'"
      ></dxi-column>
      <dxi-column
        dataField="ConsPol"
        caption="Consecutivo"
        [width]="'auto'"
        [alignment]="'center'"
      ></dxi-column>
      <dxi-column
        dataField="Documento"
        caption="Documento"
        [width]="'auto'"
        [alignment]="'center'"
      ></dxi-column>
      <dxo-paging [pageSize]="15"></dxo-paging>
    </dx-data-grid>
  </div>
</dx-popup>
